/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

/* BODY */
body {
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65rem;
  font-size: 1.2em;
}

/* HEADER */
header {
  display: block;
  width: 100%;
  background-color: black;
}
header img {
  width: 15%;
  display: block;
  padding: 20px 50px 20px;
}

/* MAIN */
main {
  text-align: center;
}
p {
  margin-block: 0.5rem;
  padding-block: 1rem;
}
h1 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  padding-inline: 1rem;
}
h2 {
  color: #25a2c3;
  font-family: "Montserrat";
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.center {
  justify-content: center;
}

.starter {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: top;
  padding: 10vh 25vw 15vh;
}

/* WARRANTY + CONTAINER */

.container {
  display: inline-block;
  text-align: left;
  max-width: 500px;
  margin-bottom: 100px;
}

.warranty {
  color: white;
  background-color: #e22d0e;
  padding: 5vh;
  margin-bottom: 50px;
}
.slogan {
  margin-top: 0.5rem;
  padding-block: 1rem;
  font-size: 1.8rem;
}

#slogan {
  font-style: italic;
  font-size: 1rem;
  padding-inline: 0.5rem;
}
h4 {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

/* BOTTONE */

button {
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  padding-inline: 1.5rem;
  margin-bottom: 0.5rem;
}

/* SECTION */

section {
  text-align: center;
  padding: 0px 12vw;
}

section div div {
  width: 100%;
  height: 200px;
}

.border {
  margin-inline: 10px;
  display: inline-block;
  max-width: 25vw;
  border: solid 1px #dee1e3;
  border-radius: 5px;
  height: 400px;
}

section h2,
section p {
  font-size: 0.8rem;
}

/* IMMAGINI */

img {
  padding-bottom: 0.5rem;
}
.circle-me {
  border-radius: 50%;
  margin-right: 50px;
}

.cardimg {
  display: inline-block;
  width: 100%;
  height: 120%;
}

/* FOOTER */

footer {
  text-align: center;
  margin-top: 1rem;
  background-color: #25a2c3;
}

footer div {
  display: inline-block;
}

footer h2 {
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer a,
footer p {
  text-align: left;
  color: #c8e7f0;
  display: block;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}
footer hr {
  line-height: 1.5px, solid, white;
  margin-block: 2rem;
}
.ending {
  display: inline-block;
  margin-bottom: 1.5rem;
}

/* ICONE */

i {
  padding-right: 5px;
}
