/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  text-align: center;
}

/* BODY */
body {
  max-width: 80vw;
  color: #393d41;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65rem;
  font-size: 1.2em;
}

/* HEADER */
header {
  width: 100%;
  background-color: black;
}
header img {
  width: 35%;
  padding-block: 2rem;
}

/* MAIN */
main {
  text-align: center;
}
p {
  margin-block: 0.5rem;
  padding-block: 1rem;
}
h1 {
  color: #25a2c3;
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
  padding-inline: 1rem;
}
h2 {
  color: #25a2c3;
  font-family: "Montserrat";
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  margin-bottom: 2rem;
  padding: 1rem;
}

.starter {
  background-image: url("../images/banner.jpg");
  background-position: -90px;
  background-size: 150%;
}

/* WARRANTY CONTAINER */
.warranty {
  color: white;
  background-color: #e22d0e;
  padding-top: 2rem;
}
.slogan {
  margin-top: 0.5rem;
  padding-block: 1rem;
  font-size: 1.8rem;
}

#slogan {
  font-style: italic;
  font-size: 1rem;
  padding-inline: 0.5rem;
}
h4 {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

/* BOTTONE */

button {
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  padding-inline: 1.5rem;
  margin-bottom: 0.5rem;
}

/* SECTION */

section {
  width: 90%;
  text-align: center;
  margin-inline: auto;
}
section div {
  border: solid 1px #dee1e3;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 5px;
}
section h2,
section p {
  font-size: 0.8rem;
  padding-block: 0px;
  padding-inline: 1rem;
}

/* IMMAGINI */

img {
  width: 70%;
  padding-bottom: 0.5rem;
}
.circle-me {
  border-radius: 50%;
  margin-bottom: 1rem;
}
.cardimg {
  width: 100%;
}

/* FOOTER */

footer {
  margin-top: 1rem;
  background-color: #25a2c3;
}

footer h2 {
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer a,
footer p {
  color: #c8e7f0;
  display: block;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}
footer hr {
  line-height: 1.5px, solid, white;
  width: 40%;
  margin-block: 2rem;
}
.ending {
  display: inline-block;
  margin-bottom: 1.5rem;
}

/* ICONE */

i {
  padding-right: 5px;
}
